/* custom.css */

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

.navbar {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}